.card {
    max-width: 25%;
    height: 1000px;
    padding-bottom: 10px; /* Ajuste el valor a su preferencia */
  }
  
  body {
    background: linear-gradient(to bottom, #0077be, #87ceeb);
  }
  
  .footer {
    background-color: linear-gradient(to bottom, #0077be, #87ceeb);
  }
  
  .card-container {
    margin-bottom: 50px;
  }
  

  